*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	 font-size: 20px;
	  background-color: purple;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: white;
	 overflow-x: hidden;
	 text-transform: uppercase;
	 
}
.logo{
	height: 220px;
    width: auto;
    float: left;
    position: absolute;
    top: 5%;
    left: -1%;
}
 .clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.a{
	text-decoration: none;
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	color: white;
	font-family: 'Copse', serif;

}
.a li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.a li a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 100%;
    padding: 10px 10px;
}
.a li a:hover{
    border-bottom: 4px solid black ;
}
.b{
	margin-left: 220px;
	margin-top: 20px;
     border-style: inset;
  border-width: 5px;
	color:black;
	float: centre;
}
.c{
	text-decoration: none;
	 font-size: 110%;
	margin-top: 30px;
	margin-left: 460px;
	font-family: 'Merienda', cursive;
	
}
.c li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.c li a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: 	red;
    font-weight: 100%;
    padding: 10px 5px;
}
.c li a:hover{
    border-bottom: 4px solid white ;
}
.P{
	float: right;
	margin-right: 20px;
	height: 430px;
}


